@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="section-books" id="books">
    <div class="container">
        <span class="subheading">Home</span>
    </div>
    <section class="section-hero">

        <div class="hero">
            <div class="hero-text-box">
                <h1 class="heading-primary">
                    AA new book delivered to your phone, when ever required
                </h1>
                <p class="hero-description">
                    The smart 365-days-per-year books purchase that will make you read more and broaden your horizons. Tailored to your personal tastes and reading habits.
                </p>
                <a asp-controller="Buying" asp-action="Index" class="btn btn--full margin-right-sm">Start reading well</a>

                <a asp-controller="HowItWorks" asp-action="Index" class="btn btn--outline">Learn more &darr;</a>

                <div class="delivered-books">
                    <div class="delivered-imgs">
                        <img src="~/img/Updated Logo/Customer1.png" alt="Customer photo" />
                        <img src="~/img/Updated Logo/Customer2.png" alt="Customer photo" />
                        <img src="~/img/Updated Logo/Customer3.png" alt="Customer photo" />
                        <img src="~/img/Updated Logo/Customer4.png" alt="Customer photo" />
                        <img src="~/img/Updated Logo/Customer5.png" alt="Customer photo" />
                        <img src="~/img/Updated Logo/Customer6.png" alt="Customer photo" />
                    </div>
                    <p class="delivered-text">
                        <span>100,000+</span> books delivered last year!
                    </p>
                </div>
            </div>

            <div class="hero-img-box">
                <picture>
                    <source srcset="~/img/Updated Logo/collage.png" type="image/png" />
                    <source srcset="~/img/Updated Logo/collage.png" type="image/png" />

                    <img src="~/img/Updated Logo/collage.png"
                         class="hero-img"
                         alt="Collage" />
                </picture>
            </div>
        </div>
    </section>

    <section class="section-featured">
        <div class="container">
            <h2 class="heading-featured-in">As featured in</h2>
            <div class="logos">
                <img src="~/img/Updated Logo/ht.png" alt="Hindu" />
                <img src="~/img/Updated Logo/hindu.png"
                     alt="Hindu logo" />
                <img src="~/img/Updated Logo/tnie.png"
                     alt="Times New India Logo" />
                <img src="~/img/Updated Logo/toi.png" alt="Times of India" />
            </div>
        </div>
    </section>
</section>


<section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
        <span class="subheading">Reviews</span>
        <h2 class="heading-secondary">Reviews shared from satisfied customers</h2>

        <div class="testimonials">
            <figure class="testimonial">
                <img class="testimonial-img"
                     alt="Photo of customer Abhay"
                     src="~/img/Updated Logo/Customer2.png" />
                <blockquote class="testimonial-text">
                    I love this eBook website! It's easy to use, has a wide range of books, and the download process is hassle-free. The customer service is also commendable. They were quick to respond and very helpful when I had an issue. I highly recommend this site to all eBook readers.

                </blockquote>
                <p class="testimonial-name">&mdash; Abhay</p>
            </figure>

            <figure class="testimonial">
                <img class="testimonial-img"
                     alt="Photo of customer Dhileep"
                     src="~/img/Updated Logo/Customer1.png" />
                <blockquote class="testimonial-text">
                    I am absolutely thrilled with my experience on this eBook website. The selection is vast and I can always find the books I'm looking for. The site is user-friendly and the downloading process is smooth. Highly recommended for all book lovers!

                </blockquote>
                <p class="testimonial-name">&mdash; Dhileep</p>
            </figure>

            <figure class="testimonial">
                <img class="testimonial-img"
                     alt="Photo of customer Prasanth"
                     src="~/img/Updated Logo/Customer1.png" />
                <blockquote class="testimonial-text">
                    This eBook website has been a game changer for me. The variety of genres and the number of titles available is impressive. The reading interface is comfortable and easy to navigate. I also appreciate the synopsis and author details provided for each book.

                </blockquote>
                <p class="testimonial-name">&mdash; Ayush</p>
            </figure>

            <figure class="testimonial">
                <img class="testimonial-img"
                     alt="Photo of customer Gowtham"
                     src="~/img/Updated Logo/Customer1.png" />
                <blockquote class="testimonial-text">
                    I've been using this eBook website for a few months now and it's fantastic. The search function is efficient and the customer service is prompt and helpful. It's great to have access to so many titles at my fingertips. Keep up the good work!

                </blockquote>
                <p class="testimonial-name">&mdash; Gowtham</p>
            </figure>

            <figure class="testimonial">
                <img class="testimonial-img"
                     alt="Photo of customer Sanjay "
                     src="~/img/Updated Logo/Customer1.png" />
                <blockquote class="testimonial-text">
                    This eBook website is my go-to for all my reading needs. The prices are reasonable and they often have sales and discounts. The eBooks are of high quality and I've never had issues with downloading. It's a great platform for avid readers like me.

                </blockquote>
                <p class="testimonial-name">&mdash; Sanjay </p>
            </figure>

            <figure class="testimonial">
                <img class="testimonial-img"
                     alt="Photo of customer Soham"
                     src="~/img/Updated Logo/Customer6.png" />
                <blockquote class="testimonial-text">
                    I got Book Dash for the whole family, and it frees up so much
                    time! Plus, there is a wide range of books to go through.
                </blockquote>
                <p class="testimonial-name">&mdash; Soham</p>
            </figure>
        </div>
    </div>

    <div class="gallery">
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s1.png"
                 alt="Photo of beautifully
            arranged food" />
            <!-- <figcaption>Caption</figcaption> -->
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s2.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s3.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s4.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s5.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s6.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s7.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s8.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s9.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s10.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s11.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
        <figure class="gallery-item">
            <img src="~/img/Updated Logo/10s12.png"
                 alt="Photo of beautifully
            arranged books" />
        </figure>
    </div>
</section>
@{
    Layout = "Noheader";
}

