<section class="section-books" id="books">
  <div class="container">
    <span class="subheading">Books</span>
    <h2 class="heading-secondary">
      Our AI chooses from 100,000+ books
    </h2>
  </div>

  <div class="container grid grid--3-cols margin-bottom-md">
        <div class="book">
      <img src="~/img/Updated Logo/hp.png"
                 class="book-img"
        alt="Griffindor"/>
        
        <div class="book-content">
                <div class="book-tags">
          <span class="tag tag--vegetarian">Fantasy Novel</span>
        </div>
                
        <p class="book-title">Harry Potter</p>
        <ul class="book-attributes">
                    <li class="book-attribute">
                        <ion-icon class="book-icon" name="create"></ion-icon>
                        <span><strong>Author</strong> J. K. Rowling</span>
                    </li>
                    
                    <li class="book-attribute">
                    <ion-icon class="book-icon" name="paper-plane"></ion-icon>
                    <span>Publisher &reg; <strong>Bloomsbury and Scholastic Press</strong></span>
                    </li>
                    
                    <li class="book-attribute">
                    <ion-icon class="book-icon" name="star-outline"></ion-icon>
                    <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>

 

        <div class="book">
      <img src="~/img/Updated Logo/ap.png" class="book-img" alt="Christopher Nolan"/>
            <div class="book-content">
                <div class="book-tags">
          <span class="tag tag--vegan">Biographical</span>
          <span class="tag tag--paleo">Non-fiction</span>
        </div>
                <p class="book-title">American Prometheus: The Triumph and Tragedy of J. Robert Oppenheimer</p>
                <ul class="book-attributes">
                    <li class="book-attribute">
                        <ion-icon class="book-icon" name="create"></ion-icon>
            <span><strong>Author</strong> Kai Bird and Martin J</span>
          </li>
                    <li class="book-attribute">
            <ion-icon class="book-icon"
              name="paper-plane"
            ></ion-icon>
            <span>Publisher &reg; <strong>Vintage</strong></span>
          </li>
                    <li class="book-attribute">
                        <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong>4.8</strong> rating (441)</span>
          </li>
        </ul>
      </div>
    </div>
        
            <div class="book">
            <img src="~/img/Updated Logo/10s1.png"
                     class="book-img"
                     alt="Griffindor" />
                <div class="book-content">
                    <div class="book-tags">
                        <span class="tag tag--vegetarian">Fantasy Novel</span>
                    </div>
                    <p class="book-title">Harry Potter</p>
                    <ul class="book-attributes">
                        <li class="book-attribute">
                            <ion-icon class="book-icon" name="create"></ion-icon>
                            <span><strong>Author</strong> J. K. Rowling</span>
                        </li>
                        <li class="book-attribute">
                            <ion-icon class="book-icon"
                                      name="paper-plane"></ion-icon>
                        <span>Publisher &reg; <strong>Bloomsbury and Scholastic Press</strong></span>
                        </li>
                        <li class="book-attribute">
                            <ion-icon class="book-icon" name="star-outline"></ion-icon>
                            <span><strong>4.9</strong> rating (537)</span>
                        </li>
                    </ul>
                </div>
            </div>


                <div class="book">
            <img src="~/img/Updated Logo/10s2.png"
                         class="book-img"
                         alt="Math" />
                    <div class="book-content">
                        <div class="book-tags">
                            <span class="tag tag--vegetarian">Educational</span>
                    <span class="tag tag--vegan">Mathematics</span>
                        </div>
                        <p class="book-title">Mathematics By R D Sharma</p>
                        <ul class="book-attributes">
                            <li class="book-attribute">
                                <ion-icon class="book-icon" name="create"></ion-icon>
                        <span><strong>Author</strong>R.D. Sharma</span>
                            </li>
                            <li class="book-attribute">
                                <ion-icon class="book-icon"
                                          name="paper-plane"></ion-icon>
                        <span>Publisher &reg; <strong>Dhanpat Rai Publication</strong></span>
                            </li>
                            <li class="book-attribute">
                                <ion-icon class="book-icon" name="star-outline"></ion-icon>
                                <span><strong>4.5</strong> rating (15137)</span>
                            </li>
                        </ul>
                    </div>
                </div>


                    <div class="book">
            <img src="~/img/Updated Logo/10s3.png"
                             class="book-img"
                             alt="Griffindor" />
                        <div class="book-content">
                            <div class="book-tags">
                                <span class="tag tag--vegetarian">Fantasy Novel</span>
                            </div>
                            <p class="book-title">Harry Potter</p>
                            <ul class="book-attributes">
                                <li class="book-attribute">
                                    <ion-icon class="book-icon" name="create"></ion-icon>
                                    <span><strong>Author</strong> J. K. Rowling</span>
                                </li>
                                <li class="book-attribute">
                                    <ion-icon class="book-icon"
                                              name="paper-plane"></ion-icon>
                        <span>Publisher &reg; <strong>Bloomsbury and Scholastic Press</strong></span>
                                </li>
                                <li class="book-attribute">
                                    <ion-icon class="book-icon" name="star-outline"></ion-icon>
                                    <span><strong>4.9</strong> rating (537)</span>
                                </li>
                            </ul>
                        </div>
                    </div>


                        <div class="book">
            <img src="~/img/Updated Logo/10s4.png"
                                 class="book-img"
                                 alt="Star" />
                            <div class="book-content">
                                <div class="book-tags">
                                    <span class="tag tag--vegetarian">Reference</span>
                                    <span class="tag tag--vegan">Science Fiction</span>
                                </div>
                                <p class="book-title">Ultimate Star Wars</p>
                                <ul class="book-attributes">
                                    <li class="book-attribute">
                                        <ion-icon class="book-icon" name="create"></ion-icon>
                        <span><strong>Author</strong> Ryder Windham, Tricia Barr, Adam Bray</span>
                                    </li>
                                    <li class="book-attribute">
                                        <ion-icon class="book-icon"
                                                  name="paper-plane"></ion-icon>
                        <span>Publisher &reg; <strong>Dorling Kindersley</strong></span>
                                    </li>
                                    <li class="book-attribute">
                                        <ion-icon class="book-icon" name="star-outline"></ion-icon>
                                        <span><strong>4.2</strong> rating (537)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                            <div class="book">
            <img src="~/img/Updated Logo/10s5.png"
                                     class="book-img"
                                     alt="RS Aggarwal" />
                                <div class="book-content">
                                    <div class="book-tags">
                                        <span class="tag tag--vegan">Educational</span>
                                        <span class="tag tag--paleo">Mathematics</span>
                                    </div>
                                    <p class="book-title">Mathematics By R S Aggarwal</p>
                                    <ul class="book-attributes">
                                        <li class="book-attribute">
                                            <ion-icon class="book-icon" name="create"></ion-icon>
                                             <span><strong>Author</strong> R.S. Aggarwal</span>
                                        </li>
                                        <li class="book-attribute">
                                            <ion-icon class="book-icon"
                                                      name="paper-plane"></ion-icon>
                                        <span>Publisher &reg; <strong>S Chand Publishing</strong></span>
                                        </li>
                                        <li class="book-attribute">
                                            <ion-icon class="book-icon" name="star-outline"></ion-icon>
                                            <span><strong>4.9</strong> rating (11537)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                                <div class="book">
            <img src="~/img/Updated Logo/10s6.png"
                                         class="book-img"
                                         alt="Griffindor" />
                                    <div class="book-content">
                                        <div class="book-tags">
                                            <span class="tag tag--vegetarian">Fantasy Novel</span>
                                        </div>
                                        <p class="book-title">Harry Potter</p>
                                        <ul class="book-attributes">
                                            <li class="book-attribute">
                                                <ion-icon class="book-icon" name="create"></ion-icon>
                                                <span><strong>Author</strong> J. K. Rowling</span>
                                            </li>
                                            <li class="book-attribute">
                                                <ion-icon class="book-icon"
                                                          name="paper-plane"></ion-icon>
                                                <span>Publisher &reg; <strong>Bloomsbury and Scholastic Press</strong></span>
                                            </li>
                                            <li class="book-attribute">
                                                <ion-icon class="book-icon" name="star-outline"></ion-icon>
                                                <span><strong>4.9</strong> rating (537)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
 

                                    <div class="book">
            <img src="~/img/Updated Logo/10s7.png"
                                             class="book-img"
                                             alt="SteveJobs" />
                                        <div class="book-content">
                                            <div class="book-tags">
                                                <span class="tag tag--vegan">Biographical</span>
                                            </div>
                <p class="book-title">Steve Jobs</p>
                                            <ul class="book-attributes">
                                                <li class="book-attribute">
                                                    <ion-icon class="book-icon" name="create"></ion-icon>
                        <span><strong>Author</strong> Walter Isaacson</span>
                                                </li>
                                                <li class="book-attribute">
                                                    <ion-icon class="book-icon"
                                                              name="paper-plane"></ion-icon>
                        <span>Publisher &reg; <strong>Simon & Schuster (U.S.)</strong></span>
                                                </li>
                                                <li class="book-attribute">
                                                    <ion-icon class="book-icon" name="star-outline"></ion-icon>
                                                    <span><strong>4.7</strong> rating (52)</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>



  <div class="container all-recipes">
  </div>
</section>
